html {
  font-family: "Avenir";
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
}
