html {
  font-family: "Avenir";
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 a {
   color: #000;
 }

#posted-on {
  font-size: 16px;
  color: #b2b2b2;
}

#fixed_button {
  margin-top: 20px;
}

.footer-link {
  margin-left: 15px;
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
}

.blog-content-text {
  font-size: 18px;
}
